@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply select-none;
}

.landing {
  background-image: url("./assets/bg_a.jpg");
}

.landing::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #fd5564, #fe3c72);
  opacity: 0.4;
}

*::-webkit-scrollbar,
.msg_scroll::-webkit-scrollbar {
  display: none;
}
*,
.msg_scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.msg_pre::after {
  content: " ~ you";
}

.profile-pic {
  width: 100px;
  height: 100px;
}

.message {
  @apply w-fit h-fit px-3 py-2 rounded-3xl relative;
}

.recieved {
  @apply justify-self-start bg-sky-200;
}

.sent {
  @apply justify-self-end bg-gray-200;
}
